<a href="https://colab.research.google.com/github/Sashimimeow/Sashimimeow/blob/main/CR19_Phone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
pip install aspose-cells

Requirement already satisfied: aspose-cells in /usr/local/lib/python3.10/dist-packages (24.5.0)
Requirement already satisfied: JPype1>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from aspose-cells) (1.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from JPype1>=1.2.1->aspose-cells) (24.0)

In [135]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [136]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [137]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/Cleasing Data For กองทรัพยากรบุคคล')
!pwd #เช็ค path ที่กำลังทำงานอยู่

/content/drive/MyDrive/Cleasing Data For กองทรัพยากรบุคคล

In [138]:
import pandas as pd

# ระบุที่อยู่ของไฟล์ Excel
excel_file = "/content/drive/MyDrive/Cleasing Data For กองทรัพยากรบุคคล/CR19-Worker-Phone_V00.xlsx"

# โหลดข้อมูลจากไฟล์ Excel เป็น DataFrame
Data_Phone = pd.read_excel(excel_file)

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [139]:
# แสดงข้อมูล
print(Data_Phone)

    Unnamed: 0         Unnamed: 1           Unnamed: 2  \
0          NaN                NaN                  NaN
1          NaN                NaN                  NaN
2          NaN                NaN               Worker
3          NaN        Column Name            Hire Date
4          NaN          Data Type   Date (DD-MON-YYYY)
5          NaN  Required (Yes/No)             Required
6          NaN             Length                  NaN
7          NaN   Remarks (If any)          วันเริ่มงาน
8          NaN                NaN                  NaN
9          NaN            Example  2023-01-25 00:00:00
10         NaN            Example  2023-10-25 00:00:00

                                           Unnamed: 3              Unnamed: 4  \
0                                                 NaN                     NaN
1                                                 NaN                     NaN
2                                                 NaN                     NaN
3                                     * Person Number              Phone Type
4                                           Character                  Lookup
5                                            Required                Required
6                                                 NaN                     NaN
7                                         รหัสบุคลากร  ประเภทของเบอร์โทรศัพท์
8   ต้องสอดคล้องกับ  Person Number ใน Worker-Perso...                     NaN
9                                              800001                  มือถือ
10                                             800001        โทรศัพท์ที่ทำงาน

      Unnamed: 5   Unnamed: 6       Unnamed: 7     Unnamed: 8
0            NaN          NaN              NaN            NaN
1            NaN          NaN              NaN            NaN
2            NaN          NaN              NaN            NaN
3   Country Code    Area Code          Number       Extension
4         Lookup       Number           Number         Number
5            NaN          NaN              NaN            NaN
6            NaN           30               30             60
7     รหัสประเทศ  รหัสพื้นที่  หมายเลขโทรศัพท์  เบอร์ต่อภายใน
8            NaN          NaN              NaN            NaN
9            NaN          NaN        918987654            NaN
10           NaN          NaN         22340129          81234

In [140]:
print(Data_Phone.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [141]:
sheet_name = "cleansing"

# โหลดข้อมูลจากไฟล์ Excel เป็น DataFrame
df = pd.read_excel(excel_file, sheet_name=sheet_name)

# แสดงหัวตารางชีทที่ 1
print(df.head())

       putday      id   telephone
0  2022-07-01  130079  0863794802
1  1994-04-01  100006  0846837742
2  1994-04-04  100008  0914202078
3  1994-03-30  100009  0936324197
4  1994-03-28  100010  0906141956

In [142]:
# แสดงหัวตาราง
print(df.head())

# หรือ
# แสดงข้อมูลแถวแรก
print(df.iloc[0])

       putday      id   telephone
0  2022-07-01  130079  0863794802
1  1994-04-01  100006  0846837742
2  1994-04-04  100008  0914202078
3  1994-03-30  100009  0936324197
4  1994-03-28  100010  0906141956
putday       2022-07-01
id               130079
telephone    0863794802
Name: 0, dtype: object

In [143]:
# แสดงข้อมูลเกี่ยวกับ DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   putday     15061 non-null  object
 1   id         15201 non-null  int64
 2   telephone  14107 non-null  object
dtypes: int64(1), object(2)
memory usage: 356.4+ KB
None

In [144]:
# เช็คจำนวนแถวและคอลัมน์
num_rows, num_cols = df.shape
print("จำนวนแถว:", num_rows)
print("จำนวนคอลัมน์:", num_cols)

จำนวนแถว: 15201
จำนวนคอลัมน์: 3

In [145]:
import pandas as pd

# ระบุที่อยู่ของไฟล์ Excel
excel_file = "/content/drive/MyDrive/Cleasing Data For กองทรัพยากรบุคคล/CR19-Worker-Phone_V00.xlsx"

# ระบุชื่อของชีทที่ต้องการอ่าน
sheet_name = "cleansing"

# โหลดข้อมูลจากไฟล์ Excel เป็น DataFrame
df = pd.read_excel(excel_file, sheet_name=sheet_name)

# แสดง DataFrame หลังจากแยกข้อมูล
print(df)

           putday      id   telephone
0      2022-07-01  130079  0863794802
1      1994-04-01  100006  0846837742
2      1994-04-04  100008  0914202078
3      1994-03-30  100009  0936324197
4      1994-03-28  100010  0906141956
...           ...     ...         ...
15196         NaN  133221  0634214852
15197         NaN  133227  0933989923
15198  2024-06-05  133229  0659329207
15199  2024-05-13  133231  0648731383
15200         NaN  133233         NaN

[15201 rows x 3 columns]

In [146]:
# กรองข้อมูลในคอลัมน์ 'Telephone' ที่มีจำนวนตัวเลขไม่เท่ากับ 10 หลัก
invalid_telephone = df[df['telephone'].str.len() != 10]

# แสดงข้อมูลที่ไม่ตรงตามเงื่อนไข
print("เบอร์ที่ไม่มีตัวเลข 10 หลัก ในคอลัมน์ 'telephone':")
print(invalid_telephone)

เบอร์ที่ไม่มีตัวเลข 10 หลัก ในคอลัมน์ 'telephone':
           putday      id     telephone
5      1993-04-01  100014   081-6349515
9      1994-01-03  100020   089-8417345
14     2011-10-01  100173  081-661-2084
16     1970-05-01  100212  086-716-7693
18     2020-10-01  100367  088-736-0042
...           ...     ...           ...
15167  2024-05-01  133141           NaN
15170         NaN  133151           NaN
15171  2024-05-01  133153           NaN
15187         NaN  133199           NaN
15200         NaN  133233           NaN

[3776 rows x 3 columns]

In [147]:
# ลบตัวอักษรที่ไม่เกี่ยวข้องออกจากคอลัมน์ 'Telephone'
#df['telephone'] = df['telephone'].str.replace(r'\D', '', regex=True)

# เติมเลข 0 ข้างหน้าหากข้อมูลไม่ครบ 10 หลัก
#df['telephone'] = df['telephone'].str.pad(10, side='left', fillchar='0')

# แสดง DataFrame หลังจากจัดรูปแบบคอลัมน์ 'Telephone'
#print(df)

In [148]:
#file_path = "ข้อมูล.xlsx"
#df.to_excel(file_path, index=False)

#print("บันทึกไฟล์ Excel สำเร็จ:", file_path)